<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="school.campusconnect"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--This is only necessary if you are displaying notifications-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />


    <application
        android:name="school.campusconnect.LeafApplication"
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:overrideLibrary="us.zoom.videomeetings"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activities.Home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <service
            android:name="school.campusconnect.service.MeetingStopService"
            android:stopWithTask="false" />

        <activity
            android:name="school.campusconnect.activities.FullScreenVideoMultiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.VideoPlayActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="school.campusconnect.activities.AttendancePareSchool"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.TeamUsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.LeaveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="school.campusconnect.activities.ReadUnreadPostUsers" /> <!-- pass : Frenzin@2018 -->
        <!-- vividinnovations.in@gmail.com -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBBFtnZOwf2lCp4zRnxaXDuHozYUYvDlGE" />
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="RZZ-47W-6W5Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="0a4-112" />

        <receiver
            android:name="com.clevertap.android.sdk.InstallReferrerBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="${applicationId}"
            android:exported="false" />

        <receiver android:name="school.campusconnect.utils.IncomingSms">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="school.campusconnect.activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>

        </activity>
        <activity
            android:name="school.campusconnect.activities.Activity_Walkthrough"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.UserExistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="school.campusconnect.activities.LoginActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="school.campusconnect.utils.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="school.campusconnect.activities.CreateAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.SignUpActivity2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="school.campusconnect.activities.ViewPDFActivity" />
        <activity
            android:name="school.campusconnect.activities.InviteFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddFriendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="school.campusconnect.activities.GroupDashboardActivityNew"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="school.campusconnect.activities.LeadDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.GroupListActivityNew"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="school.campusconnect.activities.ReadMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.TreeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.LeadsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="school.campusconnect.activities.LikesListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="school.campusconnect.activities.AllUserListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="school.campusconnect.activities.AllContactListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="school.campusconnect.activities.UserDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.ProfileActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.EditPostActivity"
            android:screenOrientation="portrait" />
        <activity android:name="school.campusconnect.activities.FullScreenActivity" />
        <activity
            android:name="school.campusconnect.activities.FullScreenAddPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.GroupsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.CommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.ReplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="school.campusconnect.activities.ChangeNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.FavoritePostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AboutGroupActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AboutPublicGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.PublicGroupJoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.NotificationsActivityNew"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.ShareGroupListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.ShareGroupTeamListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.SelectShareTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.ShareInPersonalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.SharePersonalNameListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AuthorizedUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.QuestionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddQuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.PushActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.SettingsActivity"
            android:screenOrientation="portrait" />

        <service android:name="school.campusconnect.utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="school.campusconnect.utils.youtube.UploadService"
            android:exported="true" />

        <service
            android:name=".utils.BackgroundVideoUploadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".utils.BackgroundVideoUploadChapterService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="school.campusconnect.utils.youtube.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.utils.youtube.PlayActivity"
            android:label="@string/title_activity_play"
            android:parentActivityName="school.campusconnect.utils.youtube.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.utils.youtube.ReviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName="school.campusconnect.utils.youtube.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.curl.CurlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.curl.AllPagesActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="98859f7bd9cfaaef59006079691ce5e2a2b101db" />
        <meta-data
            android:name="AA_DB_NAME"
            android:value="gruppie_new.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="school.campusconnect.datamodel.HwItem,school.campusconnect.datamodel.SubjectItem,school.campusconnect.datamodel.EBookItem,school.campusconnect.datamodel.EBookClassItem, school.campusconnect.datamodel.GroupDataItem, school.campusconnect.datamodel.PostDataItem, school.campusconnect.datamodel.notifications.NotificationModel, school.campusconnect.datamodel.TeamListItem, school.campusconnect.datamodel.PostTeamDataItem, school.campusconnect.datamodel.personalchat.PersonalContactsModel,  school.campusconnect.datamodel.gruppiecontacts.GruppieContactsModel,  school.campusconnect.datamodel.gruppiecontacts.GruppieContactGroupIdModel,  school.campusconnect.datamodel.gruppiecontacts.AllContactModel" /> <!-- rajini.gruppie.datamodel.gruppiecontacts.GruppieContactAddressModel, -->
        <activity
            android:name="school.campusconnect.activities.CommentsLikeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

        <activity
            android:name="school.campusconnect.activities.FullScreenMultiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="school.campusconnect.activities.CreateTeamActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="school.campusconnect.activities.TeamSettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="school.campusconnect.activities.PersonalSettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="school.campusconnect.activities.GpsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name="school.campusconnect.utils.GruppieTracker"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="school.campusconnect.activities.AttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.EditAttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.ArchiveTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.NestedTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddStudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddGalleryPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.TimeTableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddTimeTablePostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.VendorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddVendorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.CodeConductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddCodeConductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.VendorReadMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.CalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.TeamListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.PeopleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.NotificationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.NewPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.TimeTableTeamsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.SubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.SubjectActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddSubjectActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.ClassActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.TimeTableClassActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.TimeTabelActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddTimeTable2"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.ClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddSubjectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="school.campusconnect.activities.AddClassActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="school.campusconnect.activities.ClassStudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddClassStudentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="school.campusconnect.activities.AttendanceReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AttendanceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.BusStudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.BusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddBusStudentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="school.campusconnect.activities.AddBusActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="school.campusconnect.activities.StaffActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddStaffActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="school.campusconnect.activities.AddTeamStaffActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddTeamStudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.TeacherClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.ParentKidsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.MarksheetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.MarkSheetListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.MarkCardReadMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.GalleryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.MarkCardListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddMarkCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.UpdateMarksheetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.VideoClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.EBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddEBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.EBookPdfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.SelectEBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.EBookPdfForTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.ParentKidsForEBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.EBookReadMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.EBookClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.NewShareActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="school.campusconnect.activities.ClassAddTokenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.RecordedClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.RecClassSubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.ChapterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.AddChapterPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="school.campusconnect.activities.CompletedTopicUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FeesClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FeesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddFeesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UpdateStudentFeesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UpdateStudentFeesEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HWClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HWClassSubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HWListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddHwPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HWParentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HWStudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SubmitAssignmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AttendanceReportOnlineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddEBookActivity2"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.HomeWorkEditActivity"
            android:screenOrientation="portrait" >
            <!--   <intent-filter>
                          <action android:name="android.intent.action.MAIN" />
                          <action android:name="android.intent.action.VIEW" />
               </activity>
                          <category android:name="android.intent.category.LAUNCHER" />
                      </intent-filter>-->

        </activity>

        <service
            android:name=".service.FloatingWidgetService"
            android:enabled="true"
            android:exported="false" />


    </application>

</manifest>